:root {
    --divider: #6c757d;
    --linkColour: #1E69CA;
    --footerColour: #6c757d;
    --backgroundColour: #eee;
    --mainBackgroundcolour: #fff;
    --foregroundColor: #000;
    --input-background: #fff;
    --input-color: #000;
    --input-border: #5b5b5b;
}

@media (prefers-color-scheme: dark) {
    :root {
        --divider: #6c757d;
        --linkColour: #6eb9ff;
        --footerColour: #6c757d;
        --backgroundColour: #1c1c1c;
        --mainBackgroundcolour: #1c1c1c;
        --foregroundColor: #d6d6d6;
        --input-background: #333333;
        --input-color: #d6d6d6;
        --input-border: #5b5b5b;
    }
}

html {
    position: relative;
    min-height: 100%;
}

body {
    padding-top: 1.5em;
    padding-bottom: 1.5em;
    background-color: var(--backgroundColour);
    color: var(--foregroundColor);
    font-family: "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif;
}

input,textarea {
    background-color: var(--input-background);
    color: var(--input-color);
    border: 1px solid var(--input-border);
}

footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    margin-bottom: 0;
}

h1 {
    margin: 0.5em 0;
}

.container {
    width: 80vw;
    padding-right: 2em;
    padding-left: 2em;
    margin-right: auto;
    margin-left: auto;
}

footer .container {
    margin-top: 2em;
    border-top: 1px solid var(--divider);
    color: var(--footerColour);
    text-align: right;
    padding: 0.5em 0;
}

a, a:hover, a:focus {
    color: var(--linkColour);
}

main {
    border: 1px solid darkgray;
    background: var(--mainBackgroundcolour);
    padding: 1em;
}

.editor #content {
    width: 100%;
    height: 50vh;
}

.editor #message {
    width: 100%;
}

.form-group {
    margin-bottom: 1rem;
}

.form-group label {
    display: inline-block;
    margin-bottom: .5rem;
}

.editor input, .editor textarea {
    margin: 0;
    padding: 0.5em;
}

.editor textarea {
    overflow: auto;
    resize: vertical;
}

.editor input {
    overflow: visible;
}

.editor .btn {
    display: inline-block;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    border: 1px solid black;
    padding: 0.25em 0.5em;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
}
