{{- /*gotype: github.com/mdbot/wiki.ErrorPageArgs*/ -}}
{{template "header" .Common}}
<p>
    {{.Common.PageTitle}}
    {{if .ShowLoginForm}} - You should login{{end}}
</p>
{{template "footer" .Common}}
