{{- /*gotype: github.com/mdbot/wiki.ListFilesArgs*/ -}}
{{template "header" .Common}}
All files:
<ul>
    {{range .Files}}
        <li><a href="/files/view/{{.Name}}">{{.Name}}</a> ({{.Size | bytes}})</li>
    {{end}}
</ul>
{{template "footer" .Common}}
