{{- /*gotype: github.com/greboid/wiki.NotFoundPageArgs*/ -}}
{{template "header" .CommonPageArgs}}
<h1>Page not found</h1>
{{if and .IsWikiPage .CanEdit}}
    <p><a href="/edit/{{.PageTitle}}">Create it</a></p>
{{end}}
{{template "footer" .CommonPageArgs}}
