{{- /*gotype: github.com/mdbot/wiki.NotFoundPageArgs*/ -}}
{{template "header" .CommonPageArgs}}
<h1>Page not found</h1>
{{if and .CommonPageArgs.IsWikiPage .CommonPageArgs.Session.CanEdit}}
    <p><a href="/edit/{{.PageTitle}}">Create it</a></p>
{{end}}
{{template "footer" .CommonPageArgs}}
