{{- /*gotype: github.com/mdbot/wiki.ErrorPageArgs*/ -}}
{{template "header" .CommonPageArgs}}
<p>
    {{.CommonPageArgs.PageTitle}}
    {{if .ShowLoginForm}} - You should login{{end}}
</p>
{{template "footer" .CommonPageArgs}}