{{- /*gotype: github.com/mdbot/wiki.ListPagesArgs*/ -}}
{{template "header" .CommonPageArgs}}
All wiki content:
<ul>
    {{range .Pages}}
        <li><a href="/view/{{.}}">{{.}}</a></li>
    {{end}}
</ul>
{{template "footer" .CommonPageArgs}}
